<ion-content scroll="false">
	<div id="page_web01_02">
		<div id="login_01">
			<p align="center" class="text_03 quot">{{customer.customerName}}</p>
		</div>

		<div class="item item-cust-quot-header">
			報價歷史紀錄
		</div>

		<ion-scroll style="height: 570px">
			<div class="card card-cust-list" ng-repeat="(key, item) in quotations" ui-sref="quotation.modify({'quotNo': item.quotNo})">
				<div class="item item-divider search-result-list">
					<div class="row">
						<div class="col col-100 text_s2">
							<label>單號</label> {{item.quotNo}}
						</div>
					</div>
					<div class="row">
						<div class="col col-50 text_s2">
							{{item.total | currency :"NT$ ":0}}
						</div>
						<div class="col col-50 text-right text_s2">
							{{item.createDate}}
						</div>
					</div>
				</div>
			</div>
		</ion-scroll>
		<div id="page_web03_01-quot2">
			<button class="but_005 quot2" ui-sref="customer">重新查詢</button>
			<button class="but_006 quot2" ui-sref="quotation.new({'obj': customer, 'flag': 'add2quot'})" />新增報價</button>
		</div>
	</div>
</ion-content>
