<ion-content scroll="false">
	<ion-scroll direction="xy">
		<div id="page_web01_02">
			<div id="login_01">
				<div class="add_02"><img src="./images/add-1.png" width="101" height="101" /></div>
				<p class="text_03">客戶報價資訊</p>
			</div>
			<p align="center" class="text_list_01">報價歷史紀錄</p>
			<div id="round_03">
				<table width="100%" border="0">
					<tr>
						<td width="87%">{{customer.customerName}}</td>
						<td width="13%">&nbsp;</td>
					</tr>
				</table>
			</div>
			<div id="list_round_03">

				<table width="100%" border="0" cellpadding="0">
					<tr>
						<td width="72%" height="20">NO. 20130212001</td>
						<td width="28%" height="20">
							<p align="right">Date  2013/02/12</p>
						</td>

					</tr>
					<tr>
						<td height="20" colspan="2" class="text_07">
							<div align="right">$  13,580</div>
						</td>
					</tr>
				</table>

			</div>
			<div id="list_round_03">

				<table width="100%" border="0" cellpadding="0">
					<tr>
						<td width="72%" height="20">NO. 20130212002</td>
						<td width="28%" height="20">
							<p align="right">Date  2015/12/12</p>
						</td>

					</tr>
					<tr>
						<td height="20" colspan="2" class="text_07">
							<div align="right">$  63,580</div>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</ion-scroll>
</ion-content>
