<ion-content scroll="false" ui-view>
	<div class="page-have-footer">
		<common-header version="version"></common-header>

		<div class="page-content">
			<p class="page-title">客戶資訊</p>

			<div class="list_01 center">
				<label class="item item-input item-input-cust-search">
					<label class="text_s2 gray">客戶編號</label>
				<input type="text" ng-model="customerData.customerNo" readonly="true" />
				</label>
				<label class="item item-input item-input-cust-search">
					<label class="text_s2 gray">客戶名稱</label>
				<input type="text" ng-model="customerData.customerName" />
				</label>
				<label class="item item-input item-input-cust-search">
					<label class="text_s2 gray">統一編號</label>
					<input type="text" ng-model="customerData.customerUnino" />
				</label>
				<!-- label class="item item-input">
					<input type="text" placeholder="聯絡人" ng-model="customerData.contactName" />
				</label -->
				<label class="item item-input item-input-cust-search">
					<label class="text_s2 gray">聯絡電話</label>
					<input type="text" ng-model="customerData.customerTel" />
				</label>
				<label class="item item-input item-input-cust-search">
					<label class="text_s2 gray">行動電話</label>
					<input type="text" ng-model="customerData.customerPhone">
				</label>
				<!-- label class="item item-input item-input-cust-search">
					<input type="text" placeholder="傳真" ng-model="customerData.customerFax">
				</label -->
				<label class="item item-input item-input-cust-search">
					<label class="text_s2 gray">地　　址</label>
					<!-- input type="text" ng-model="customerData.addr3" -->
					<textarea ng-model="customerData.addr3"></textarea>
				</label>
				<!-- label class="item item-input">
					<input type="text" placeholder="折扣 ( ex : 0.95 )" ng-model="customerData.customerPayrate" />
				</label -->

				<p class="page-note red text-center" ng-if="message.length!=0">{{message}}</p>
			</div>
		</div>

		<ion-footer-bar class="page-footer block">
			<button class="footer1" ui-sref="customer({})" ui-sref-opts="{reload: true}">回客戶資訊</button>
			<button class="footer1" ng-click="goPageBack()" ui-sref-opts="{reload: true}">回上頁</button>
			<button class="footer1" ng-click="saveCustomer(customerData);">存檔</button>
		</ion-footer-bar>
	</div>
</ion-content>
