<ion-content scroll="false">
	<ion-scroll direction="y">
		<div id="page_web01" ui-view>

			<div id="page_web05">
				<div id="page02_01">

					<p class="text_03">客戶資訊</p>

				</div>
				<p align="center" class="text_06">客戶已存檔</p>
				<!-- div id="round_04">
					<p class="text_list_01">報價單號</p>
					<p>20160584001</p>
				</div -->
			</div>
			<div id="login_04">

				<a class="button" href="/#/customer/C2006">修改</a>
				<a class="button" href="/#/home">回主畫面</a>

			</div>
		</div>
	</ion-scroll>
</ion-content>
