<ion-content scroll="false">
	<div class="page-have-footer" ui-view>
		<ion-header-bar class="page-header">
			<i ui-sref="home" class="icon ion-navicon-round header-icon white"></i>
		</ion-header-bar>

		<div class="page-content">
			<p class="page-title">客戶資訊</p>

			<div class="list_01 center">
				<label class="item item-input item-input-cust-search">
			    <input type="text" placeholder="客戶編號" ng-model="customerData.customerNo" />
			  </label>
				<label class="item item-input item-input-cust-search">
			    <input type="text" placeholder="客戶名稱" ng-model="customerData.customerName" />
			  </label>
				<label class="item item-input item-input-cust-search">
			    <input type="text" placeholder="統一編號" ng-model="customerData.customerUnino" />
			  </label>
				<!-- label class="item item-input">
			    <input type="text" placeholder="聯絡人" ng-model="customerData.contactName" />
			  </label -->
				<label class="item item-input item-input-cust-search">
			    <input type="text" placeholder="聯絡電話" ng-model="customerData.customerTel" />
			  </label>
				<label class="item item-input item-input-cust-search">
			    <input type="text" placeholder="行動電話" ng-model="customerData.customerPhone">
			  </label>
				<!-- label class="item item-input item-input-cust-search">
			    <input type="text" placeholder="傳真" ng-model="customerData.customerFax">
			  </label -->
				<!-- label class="item item-input">
			    <input type="text" placeholder="地址" ng-model="customerData.addr3" />
			  </label -->
				<!-- label class="item item-input">
					<input type="text" placeholder="折扣 ( ex : 0.95 )" ng-model="customerData.customerPayrate" />
				</label -->
			</div>
		</div>

		<ion-footer-bar class="page-footer block">
			<button class="footer" ng-click="addCustomer(customerData);">新增</button>
			<button class="footer" ng-click=" queryCustomer(customerData);">查詢</button>
		</ion-footer-bar>
	</div>
</ion-content>
