<ion-content scroll="false">
	<div class="page-have-footer">
		<common-header version="version"></common-header>

		<div class="page-content">
			<p class="page-title">客戶資訊</p>

			<ion-scroll direction="y" style="height: 550px;" overflow-scroll="false">
				<div class="card card-cust-list" ng-repeat="item in customers">
					<!--  | filter:{visible: true} | limitTo: 50 -->
					<div class="item item-divider search-result-title">
						<div class="row">
							<div class="col col-75" style="line-height: 42px;">
								[{{item.customerNo}}] {{item.customerName}}
							</div>
							<div class="col col-25 text-right text_l">
								<i class="icon ion-compose white" ui-sref="customer.edit({ 'customerNo': item.customerNo })" ng-if="typeFlag!='add2quot' && typeFlag!='add2quot.edit'"></i>
								<i class="icon ion-ios-paper white" ng-click="selCustomer(item);" ng-if="typeFlag!='add2quot' && typeFlag!='add2quot.edit'"></i>
								<i class="icon ion-ios-redo white" ng-click="selCustomer(item);" ng-if="typeFlag=='add2quot' || typeFlag=='add2quot.edit'"></i>
							</div>
						</div>
					</div>
					<div class="item item-text-wrap search-result-list">
						<div class="row">
							<div class="col col-50 text-left">
								<label>聯絡電話</label> {{item.customerTel}}
							</div>
							<div class="col col-50 text-left">
								<label>行動電話</label> {{item.customerPhone}}
							</div>
						</div>
						<div class="row" ng-show="false">
							<div class="col col-100 text-left">
								<label>地　　址</label> {{item.addr3}}
							</div>
						</div>
					</div>
				</div>
			</ion-scroll>
		</div>

		<ion-footer-bar class="page-footer block">
			<button class="footer" ui-sref="customer({ 'quotNo': quotNo, 'flag': 'add2quot.edit'})" ng-if="typeFlag=='add2quot.edit'">重新查詢</button>
			<button class="footer" ui-sref="customer" ng-if="typeFlag!='add2quot.edit'">重新查詢</button>
		</ion-footer-bar>
	</div>
</ion-content>
