<ion-content scroll="false">
	<div class="page-have-footer">
		<common-header version="version"></common-header>

		<div class="page-content text-center">
			<p class="page-title">系統訊息</p>

			<div class="card col col-75 center">
				<div class="item item-divider bgc-kiwi">
					<h2 class="light"></h2>
				</div>
				<div class="item item-text-wrap text_l">
					操作失敗 !!
				</div>
			</div>
		</div>
	</div>

	<ion-footer-bar class="page-footer block">
		<button class="footer" ui-sref="home">回主畫面</button>
	</ion-footer-bar>
</ion-content>
