<ion-content>
	<div id="page_web01" ui-view>
		<div id="page_web02">
			<div id="page02_01">
				<div id="round_01">
					<p class="text_03">商品查詢</p>
				</div>
			</div>
			<div id="page03_02">
				<div id="list_list_01">
					<p class="text_list_01">馬杜莎木質桌</p>
				</div>
				<div id="list_list_02">
					<p class="text_list_02">$ 6800</p>
				</div>
			</div>
			<div id="page03_03">
				<hr width="98%" class="line9" />
			</div>
			<div id="page03_04">
				<div id="list_list_01">
					<p class="text_list_03">倉庫A</p>
				</div>
				<div id="list_list_02">
					<p class="text_list_02">x 8</p>
				</div>
			</div>

			<div id="page03_04">
				<div id="list_list_01">
					<p class="text_list_03">倉庫B</p>
				</div>
				<div id="list_list_02">
					<p class="text_list_02">x 10</p>
				</div>
			</div>
			<div id="page03_04">
				<div id="list_list_01">
					<p class="text_list_03">倉庫C</p>
				</div>
				<div id="list_list_02">
					<p class="text_list_02">x 3</p>
				</div>
			</div>
		</div>
		<div id="page_web03">
			<div id="page_web_bott01">
				<input name="button" type="submit" class="but_003" id="button" value="" />
			</div>
			<div id="page_web_bott02">
				<input name="button" type="submit" class="but_004" id="button" value="" />
			</div>
		</div>
	</div>
</ion-content>
