<ion-content scroll="false" ui-view>
	<div class="page-have-footer">
		<common-header version="version"></common-header>

		<div class="page-content">
			<p class="page-title">商品查詢</p>
			<div class="row row-stock-list">
				<div class="col col-75 text_s2">
					{{goods.stockName}}
				</div>
				<div class="col col-25 text_s2 text-right">
					{{goods.stockPrice | currency:"$ ":0}}
				</div>
			</div>
			<div class="row row-stock-list">
				<div class="col col-100 text_s2">
					型號：{{goods.stockCode}}
				</div>
			</div>
			<div class="row row-stock-list">
				<div class="col col-100 text_s2">
					尺寸：{{goods.stockSpec}}
				</div>
			</div>

			<hr class="line9" />

			<ion-scroll direction="y" style="height: 320px;">
				<div class="row  row-stock-list" ng-repeat="item in goods.warehouseList">
					<div class="col col-75 col-dotted text_s2">
						{{item.whName}}
					</div>
					<div class="col col-25 col-dotted text_s2 text-right">
						x {{item.num | currency:"":0}}
					</div>
				</div>
			</ion-scroll>

			<div class="row  row-stock-list" style="margin-top: 24px;">
				<div class="col col-75 col-dotted text_m" style="font-weight: bold;">
					合計
				</div>
				<div class="col col-25 col-dotted text_m text-right">
					x {{goods.stockNum | currency:"":0}}
				</div>
			</div>
		</div>
	</div>

	<ion-footer-bar class="page-footer block">
		<button class="footer" ui-sref="goods">重新查詢</button>
		<button class="footer" ui-sref="quotation.new({ 'obj': goods, 'flag': typeFlag })" ng-if="typeFlag!='add2quot.edit'">應用報價</button>
		<button class="footer" ui-sref="quotation.edit({ 'obj': goods, 'flag': typeFlag, 'quotNo': quotNo })" ng-if="typeFlag=='add2quot.edit'">加入報價</button>
	</ion-footer-bar>
	</div>
</ion-content>
