<ion-content scroll="false">
	<div id="page_web01" ui-view>
		<div id="page_web02">
			<div id="page02_01">
				<div id="round_01">
					<p class="text_03_01">商品查詢</p>
				</div>
			</div>
			<div id="page03_02">
				<div id="list_list_01">
					<p class="text_list_01">{{goods.stockName}}</p>
				</div>
				<div id="list_list_02">
					<p class="text_list_02">$ {{goods.stockPrice}}</p>
				</div>
			</div>
			<div id="page03_03">
				<hr width="98%" class="line9" />
			</div>
			<ion-scroll direction="y" style="height: 380px;">
				<div id="page03_04" ng-repeat="item in goods.warehouseList">
					<div id="list_list_01">
						<p class="text_list_03">{{item.whName}}</p>
					</div>
					<div id="list_list_02">
						<p class="text_list_02">x {{item.num}}</p>
					</div>
				</div>
			</ion-scroll>
			<div id="page03_04">
				<div id="list_list_01">
					<p class="text_list_03">庫存總計</p>
				</div>
				<div id="list_list_02">
					<p class="text_list_02">x {{goods.stockNum}}</p>
				</div>
			</div>
		</div>
		<div id="page_web03">
			<div id="page_web_bott01">
				<input name="button" type="button" class="but_003" id="button" ui-sref="goods" />
			</div>
			<div id="page_web_bott02">
				<input name="button" type="button" class="but_004" id="button" ui-sref="quotation.new({ 'obj': goods, 'flag': typeFlag })" />
			</div>
		</div>
	</div>
	</ion-scroll>
</ion-content>
