<ion-content scroll="false">
	<div id="page_web01">
		<div id="page02_01">
			<div id="round_01">
				<p class="text_02">現在登入人員 : {{user.userName}} [{{user.storeName}}] [ <a ui-sref="login">登出</a> ]</p>
			</div>
		</div>
		<div id="page02_02"><img src="images/star_but-1.png" width="677" height="167" ui-sref="goods"/></div>
		<div id="page02_03"><img src="images/star_but-2.png" width="677" height="167" ui-sref="customer"/></div>
		<div id="page02_04"><img src="images/star_but-3.png" width="677" height="167" ui-sref="quotation"/></div>
	</div>
</ion-content>
