<ion-content scroll="false">
	<div class="page-have-footer">
		<common-header version="version"></common-header>

		<div class="page-content text-center">
			<p class="page-title">報價單</p>
			<p class="page-note assertive">報價單已存檔</p>

			<div class="card col col-75 center">
				<div class="item item-divider bgc-kiwi">
					<h2 class="light">報價單號</h2>
				</div>
				<div class="item item-text-wrap text_l">
					{{quotNo}}
				</div>
			</div>
		</div>
	</div>

	<ion-footer-bar class="page-footer block">
		<button class="footer" ui-sref="quotation.edit({'quotNo': quotNo})">修改報價單</button>
		<button class="footer" ui-sref="home">回主畫面</button>
	</ion-footer-bar>
</ion-content>
