<ion-content scroll="false">
	<ion-scroll direction="y">
		<div id="page_web01" ui-view>

			<div id="page_web05">
				<div id="page02_01">

					<p class="text_03_01">報價單</p>

					<p class="assertive">報價單已存檔</p>

					<div class="card col col-75 center">
						<div class="item item-divider bgc-kiwi">
							<h2 class="light">報價單號</h2>
						</div>
						<div class="item item-text-wrap">
							<p>{{quotNo}}</p>
						</div>
					</div>
				</div>

			</div>
			<div id="login_04_01">

				<button class="but_005" ui-sref="quotation.modify({'quotNo': quotNo})">修改報價單</button>
				<button class="but_006" ui-sref="home">回主畫面</button>

			</div>
		</div>
	</ion-scroll>
</ion-content>
