<ion-content scroll="false">
	<div class="page-have-footer">
		<common-header version="version"></common-header>

		<div class="page-content text-center">
			<p class="page-title">報價單查詢</p>
			<p class="page-subtitle">請輸入報價單號查詢</p>
			<p class="page-note cursor-hand" ui-sref="customer"><u>如不知報價單號請前往客戶資訊查詢</u></p>

			<div class="list list-inset list-inset-query">
				<div class="item item-input-inset  item-input-query">
					<label class="item item-input-wrapper item-input-query">
			       	<input type="text" placeholder="請輸入報價單號" ng-model="queryCode">
			       </label>
					<button class="button icon ion-search button-kiwi-large" ui-sref="quotation.edit({'quotNo' : queryCode})">搜尋</button>
				</div>
			</div>
		</div>

		<ion-footer-bar class="page-footer block">
		</ion-footer-bar>
	</div>
</ion-content>
