<ion-content scroll="false" ui-view>

	<div class="page-have-footer">
		<ion-header-bar class="page-header">
			<i ui-sref="home" class="icon ion-navicon-round header-icon white"></i>
		</ion-header-bar>

		<div class="page-content">
			<p class="page-title">報價單查詢</p>
			<p class="page-note text-center">查詢失敗</p>

			<!-- div class="card col col-75 center">
				<div class="item item-divider bgc-kiwi">
					<h2 class="light">客戶已存檔</h2>
				</div>
				<div class="item item-text-wrap">
					<p>客戶編號：{{customerNo}}</p>
				</div>
			</div -->
		</div>

		<ion-footer-bar class="page-footer block">
			<button class="footer" ui-sref="quotation.search({})" ui-sref-opts="{reload: true}">報價系統</button>
			<button class="footer" ui-sref="home">回主畫面</button>
		</ion-footer-bar>
	</div>
</ion-content>
