<ion-view view-title="關於君邑">
  <ion-content>
	<div class="list card">

	  <a href="#" class="item item-icon-left">
		<i class="icon ion-home"></i>
		<h3>23546 新北市中和區中山路三段39號12樓</h6>
	  </a>

	  <a href="#" class="item item-icon-left">
		<i class="icon ion-ios-telephone"></i>
		886-2-22229152
	  </a>

	  <a href="#" class="item item-icon-left">
		<i class="icon ion-ios-telephone"></i>
		886-2-82287535
	  </a>

	  <a href="#" class="item item-icon-left">
		<i class="icon ion-android-mail"></i>
		service@gesoft.com.tw
	  </a>

	</div>
  </ion-content>
</ion-view>
