<ion-content scroll="false">
    <div id="page_web01" ui-view>
      <div id="login_01"><img src="images/sys_login-2.png" width="385" height="160" /></div>

      <div class="list list-inset list-inset-query">
        <div class="item item-input-inset  item-input-query">
          <input type="text" placeholder="請輸入帳號" ng-model="loginData.account" readonly />
        </div>
        <div class="item item-input-inset  item-input-query">
          <input type="password" placeholder="請輸入密碼" ng-model="loginData.pwd" />
        </div>
      </div>

      <div id="login_04">
        <div align="center">
          <img src="images/but_login-2.png" width="480" height="119" ng-click="updatePwd(loginData);" />
        </div>
      </div>
    </div>
</ion-content>
